@font-face{
  font-family: 'Consolas';
  font-weight: 400;
  font-style: normal;

  src: local("fonts/Consolas.woff"), url("fonts/Consolas.woff") format("woff");
}
@font-face{
  font-family: 'Consolas-Bold';
  font-weight: 400;
  font-style: bold;

  src: local("fonts/Consolas-Bold.woff"), url("fonts/Consolas-Bold.woff") format("woff");
}


#id_back{
  background-color: #FEFEFE;
  margin: 0px;
}
  .canvas_logo{
    user-select: none;
    position: relative;
    margin: auto;
    display: block;
    top: 40px;
    width: 150px;
    height: 164px;
  }
  .logo1{
    position: absolute;
    top: -30px;
    font-family: 'Consolas-Bold', 'Arial', sans-serif;
    font-size: 145px;
    color: #32CD32;
  }
  .logo2{
    position: absolute;
    top: 80px;
    left: -5px;
    font-family: 'Consolas', 'Arial', sans-serif;
    font-size: 75px;
    color: #5B5B5B;
  }
  .canvas_form{
    margin-top: 40px;
    position: relative;
    display: block;
    top: 40px;
    width: 150px;
    height: 215px;
    box-shadow: 0 2px #32CD32,
                0 6px 3px -5px black;

  }
  .caps{
    user-select: none;
    text-align: center;
    position: relative;
    margin-top: 0px;
    font-family: 'Consolas-Bold', 'Arial', sans-serif;
    font-size: 14px;
    color:  #5B5B5B;
  }
  .cl_input{
    width: 140px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Consolas-Bold', 'Arial', sans-serif;
    border: 2px solid #32CD32;
    border-radius: 5px;
    background-color: #E5E5E5;
  }
  .cl_button{
    user-select: none;
    width: 75px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Consolas-Bold', 'Arial', sans-serif;
    color: black;
    border: 2px solid #32CD32;
    background-color: #E5E5E5;
    transition: .3s background-color, color, border, font-size;
  }
  .cl_button:hover{
    color: #E5E5E5;
    border: 2px solid #E5E5E5;
    background-color: #5B5B5B;

  }
  .cl_button:active{
    box-shadow: inset 0px 0px 5px #FEFEFE;
    font-size: 12px;
    border: 2px solid;
  }
  .id_message{
    position: relative;
    font-family: 'Consolas', 'Arial', sans-serif;
    color: #E53924;
    font-size: 14px;
  }
